n8n/FINALISATION (1).json
{
  "name": "FINALISATION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "videogen-result",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b61d87e9-c9cd-4ef0-b598-c5554a4a4344",
      "name": "Webhook Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1968,
        400
      ],
      "webhookId": "videogen-result"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.type}}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "76c30d6e-4bb9-47c3-b36f-fbae54ec9936"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "e33469ef-20cf-4e7e-8800-3b17056175d7",
                    "leftValue": "={{$json.type}}",
                    "rightValue": "blocking_error",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cb5abfea-6d74-4a62-acb8-79807e13771d",
      "name": "Check notification type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1600,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "Livré",
            "Lien output": "={{ $json['drive_url'] || '' }}",
            "Statut detail": "={{ $json['message'] || '' }}",
            "Lien review": "={{ $json['review_url'] || '' }}",
            "row_number": "={{ $json['row_number'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Strategie",
              "displayName": "Strategie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Durée cible",
              "displayName": "Durée cible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Voix",
              "displayName": "Voix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Musique",
              "displayName": "Musique",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lien output",
              "displayName": "Lien output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Statut detail",
              "displayName": "Statut detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lien review",
              "displayName": "Lien review",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "850b5e6a-ad31-4124-b3e4-45b358660d3c",
      "name": "Update Sheets Livré",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1296,
        208
      ],
      "credentials": {
        "googleServiceAccountApi": {
          "id": "GoogleSheetsSA",
          "name": "Google Sheets SA"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "Erreur",
            "Statut detail": "={{ $json['message'] || '' }}",
            "row_number": "={{ $json['row_number'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Script",
              "displayName": "Script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Format",
              "displayName": "Format",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Strategie",
              "displayName": "Strategie",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Durée cible",
              "displayName": "Durée cible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Voix",
              "displayName": "Voix",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Musique",
              "displayName": "Musique",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "CTA",
              "displayName": "CTA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Lien output",
              "displayName": "Lien output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Statut detail",
              "displayName": "Statut detail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5afa8ac1-1f1c-4534-acda-ae92fcb1852e",
      "name": "Update Sheets Erreur",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -1296,
        416
      ],
      "credentials": {
        "googleServiceAccountApi": {
          "id": "GoogleSheetsSA",
          "name": "Google Sheets SA"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      },
      "id": "ce8be96e-590b-4047-9117-3e3a265cb1ea",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -880,
        416
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Callback": {
      "main": [
        [
          {
            "node": "Check notification type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check notification type": {
      "main": [
        [
          {
            "node": "Update Sheets Livré",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheets Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Livré": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Erreur": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4672e972-2b5f-4e5f-9fbc-16bb99a0483a",
  "meta": {
    "instanceId": "c6def52d4be541647f5762a523419c1a7e35b42e93d17c5eafdcf523d870b849"
  },
  "id": "F0JnfB3LIrEhfwzi",
  "tags": []
}