n8n/LANCEMENT TACHES v2 (2).json
{
  "name": "LANCEMENT TACHES v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "bbed1854-45f5-4818-8471-a66ab93d04ad",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        2528,
        704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Campagnes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo/edit#gid=0"
        },
        "options": {}
      },
      "id": "4f380f0f-f4bd-4dfa-b103-dd2d238b4a35",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2752,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WuuB2fQnxWavSbfO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => {\n  const statut = String(item.json['Statut'] || '').toLowerCase().trim();\n  return statut === 'ok';\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        704
      ],
      "id": "edc3bec6-8fcb-40a0-9c5a-812747e04066",
      "name": "Filtre Statut OK"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Campagnes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HhLkOKJvxr2ZaYvu4IbvxVsR4yzn3_UHgwjDaSIlzgo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "En cours",
            "row_number": "={{ $json['row_number'] }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "911f56bb-483d-4db0-8681-1d79dee7b4ff",
      "name": "Update status En cours",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3216,
        704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WuuB2fQnxWavSbfO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ys4o0cosg48gk0o4g4o8o4kw.95.217.220.12.sslip.io/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ sheets_row: { row_id: $('Filtre Statut OK').item.json['row_number'].toString(), script: $('Filtre Statut OK').item.json['Script'], format: $('Filtre Statut OK').item.json['Format'] || 'vertical', strategy: $('Filtre Statut OK').item.json['Strategie'] || 'B', duration: Number($('Filtre Statut OK').item.json['Durée cible']) || 60, voice_id: $('Filtre Statut OK').item.json['Voix'] || 'tMyQcCxfGDdIt7wJ2RQw', music_url: $('Filtre Statut OK').item.json['Musique'] || '', cta: $('Filtre Statut OK').item.json['CTA'] || '', persona: $('Filtre Statut OK').item.json['Personnage'] || '', ambiance: $('Filtre Statut OK').item.json['Ambiance'] || '', voice_speed: Number($('Filtre Statut OK').item.json['Vitesse voix']) || 1.0 }, webhook_url: \"https://n8n.95.217.220.12.sslip.io/webhook/videogen-result\" }) }}",
        "options": {
          "response": {
            "response": {}
          },
          "timeout": 30000
        }
      },
      "id": "7ce4515c-e259-46d3-812d-c34c8ad5a261",
      "name": "POST /generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3456,
        704
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "s5kbCacUcSvoFKfS",
          "name": "VideoGen API Key"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filtre Statut OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre Statut OK": {
      "main": [
        [
          {
            "node": "Update status En cours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status En cours": {
      "main": [
        [
          {
            "node": "POST /generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2a84c11e-face-4b7c-9d6e-7a3b1c0f5e92",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6def52d4be541647f5762a523419c1a7e35b42e93d17c5eafdcf523d870b849"
  },
  "id": "p3Qjep5NwqUh8r5K",
  "tags": []
}
