n8n/TEST VITESSE VOIX.json
{
  "name": "TEST VITESSE VOIX",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "test-vitesse-voix",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-ef1234567890",
      "name": "Webhook Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "test-vitesse-voix"
    },
    {
      "parameters": {
        "jsCode": "// Paramètres : passés en query string ou valeurs par défaut\n// Exemple d'appel : GET /webhook/test-vitesse-voix?voice_id=tMyQcCxfGDdIt7wJ2RQw\nconst voice_id = $input.item.json.query?.voice_id || 'tMyQcCxfGDdIt7wJ2RQw';\nconst script = $input.item.json.query?.script || 'Il y a une femme qui m a envoye un message. Elle est assistante administrative. CDI. 37 ans. Deux garcons. Elle m a dit que son fils lui avait dit : maman, elle rentre toujours tard. Elle avait reduit son contrat a 60 pourcent pour etre plus la. Et ca suffisait pas.';\nreturn [{ json: { voice_id, script } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-f12345678901",
      "name": "Paramètres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ys4o0cosg48gk0o4g4o8o4kw.95.217.220.12.sslip.io/test-voice-speed",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ voice_id: $json.voice_id, script: $json.script }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-012345678902",
      "name": "POST /test-voice-speed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "s5kbCacUcSvoFKfS",
          "name": "VideoGen API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.results || [];\nconst note = $input.item.json.note || '';\n\nconst cardsHtml = results.map(r => {\n  const speedLabel = r.speed === 1.0 ? '1.0x (normale)'\n    : r.speed === 1.2 ? '1.2x (rapide)'\n    : r.speed === 1.5 ? '1.5x (très rapide)'\n    : '2.0x (maximum)';\n  const extra = r.creatomate_multiplier > 1\n    ? `<span style=\"font-size:11px;color:#888\">ElevenLabs 1.2x + Creatomate x${r.creatomate_multiplier}</span>`\n    : `<span style=\"font-size:11px;color:#888\">ElevenLabs natif</span>`;\n  return `<div style=\"margin:16px 0;padding:16px;border:1px solid #ddd;border-radius:10px;background:#fafafa\">\n    <div style=\"display:flex;justify-content:space-between;align-items:center;margin-bottom:10px\">\n      <strong style=\"font-size:16px\">${speedLabel}</strong>\n      <span style=\"background:#e8f4fd;color:#1a73e8;padding:3px 10px;border-radius:12px;font-size:13px\">${r.duration_seconds.toFixed(1)}s</span>\n    </div>\n    ${extra}\n    <audio controls style=\"width:100%;margin-top:8px\" src=\"${r.audio_url}\"></audio>\n    <p style=\"margin:8px 0 0;font-size:12px;color:#555\">👉 Pour utiliser cette vitesse : colonne <strong>Vitesse voix</strong> = <code>${r.speed}</code></p>\n  </div>`;\n}).join('');\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <title>Test Vitesse Voix — VideoGen</title>\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif; max-width: 580px; margin: 0 auto; padding: 24px 16px; color: #222; }\n    h1 { font-size: 22px; margin-bottom: 4px; }\n    .subtitle { color: #666; margin-bottom: 24px; font-size: 14px; }\n    .note { background: #fff8e1; border-left: 4px solid #ffc107; padding: 12px 16px; border-radius: 4px; font-size: 13px; margin-top: 24px; }\n  </style>\n</head>\n<body>\n  <h1>🎙️ Test Vitesse Voix</h1>\n  <p class=\"subtitle\">Écoute les 4 versions — choisit ta préférée — note la valeur dans la colonne <strong>Vitesse voix</strong> du Sheet.</p>\n  ${cardsHtml}\n  <div class=\"note\">${note}</div>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "d4e5f6a7-0004-4000-8000-123456789003",
      "name": "Format HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "e5f6a7b8-0005-4000-8000-234567890004",
      "name": "Respond HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Test": {
      "main": [
        [
          {
            "node": "Paramètres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paramètres": {
      "main": [
        [
          {
            "node": "POST /test-voice-speed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /test-voice-speed": {
      "main": [
        [
          {
            "node": "Format HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML": {
      "main": [
        [
          {
            "node": "Respond HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3b95d22f-abcd-4c8d-ae7f-8b4c2d1e6f03",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6def52d4be541647f5762a523419c1a7e35b42e93d17c5eafdcf523d870b849"
  },
  "id": "VoiceTestWorkflow01",
  "tags": []
}
