n8n/workflow_videogen.json
{
  "name": "VideoGen Pipeline",
  "nodes": [
    {
      "id": "1a2b3c4d-0001-0001-0001-000000000001",
      "name": "Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 4,
      "position": [240, 300],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "event": "rowAdded",
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "1a2b3c4d-0002-0002-0002-000000000002",
      "name": "Filter status=OK",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-01",
              "leftValue": "={{ $json['Statut'] }}",
              "rightValue": "OK",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "1a2b3c4d-0003-0003-0003-000000000003",
      "name": "Update status En cours",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $json['row_number'] }}",
            "Statut": "En cours",
            "Statut détail": "Job soumis à l'API VideoGen"
          },
          "matchingColumns": ["row_number"],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "1a2b3c4d-0004-0004-0004-000000000004",
      "name": "POST /generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VIDEOGEN_API_URL }}/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.VIDEOGEN_API_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sheets_row\": {\n    \"row_id\": \"{{ $json['row_id'] }}\",\n    \"script\": \"{{ $json['Script'] }}\",\n    \"format\": \"{{ $json['Format'] }}\",\n    \"strategy\": \"{{ $json['Stratégie'] }}\",\n    \"duration\": {{ $json['Durée cible'] }},\n    \"voice_id\": \"{{ $json['Voix'] }}\",\n    \"music_url\": \"{{ $json['Musique'] }}\",\n    \"cta\": \"{{ $json['CTA'] }}\",\n    \"logo_url\": \"{{ $json['Logo'] }}\"\n  },\n  \"webhook_url\": \"{{ $env.N8N_WEBHOOK_URL }}/webhook/videogen-callback\"\n}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      }
    },
    {
      "id": "1a2b3c4d-0005-0005-0005-000000000005",
      "name": "Webhook Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 560],
      "webhookId": "videogen-callback",
      "parameters": {
        "httpMethod": "POST",
        "path": "videogen-callback",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "1a2b3c4d-0006-0006-0006-000000000006",
      "name": "Check notification type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [460, 560],
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.body.type }}",
        "rules": {
          "rules": [
            {
              "value": "completed"
            },
            {
              "value": "blocking_error"
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "id": "1a2b3c4d-0007-0007-0007-000000000007",
      "name": "Upload Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 460],
      "parameters": {
        "operation": "upload",
        "name": "={{ $json.body.row_id }}_pub.mp4",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_DRIVE_FOLDER_ID }}",
          "mode": "id"
        },
        "binaryData": false,
        "fileContent": "={{ $json.body.video_url }}",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-cred",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "id": "1a2b3c4d-0008-0008-0008-000000000008",
      "name": "Update Sheets Livré",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 460],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ $('Webhook Callback').item.json.body.row_id }}",
            "Statut": "Livré",
            "Lien output": "={{ $json.webViewLink }}",
            "Statut détail": "Pub générée avec succès"
          },
          "matchingColumns": ["row_id"],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "1a2b3c4d-0009-0009-0009-000000000009",
      "name": "Update Sheets Erreur",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 660],
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.GOOGLE_SHEETS_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Campagnes",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_id": "={{ $json.body.row_id }}",
            "Statut": "Erreur",
            "Statut détail": "={{ $json.body.message ?? 'Erreur inconnue' }}"
          },
          "matchingColumns": ["row_id"],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "id": "1a2b3c4d-0010-0010-0010-000000000010",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 560],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\" }",
        "options": {}
      }
    }
  ],
  "connections": {
    "Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter status=OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter status=OK": {
      "main": [
        [
          {
            "node": "Update status En cours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update status En cours": {
      "main": [
        [
          {
            "node": "POST /generate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Callback": {
      "main": [
        [
          {
            "node": "Check notification type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check notification type": {
      "main": [
        [
          {
            "node": "Upload Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheets Erreur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Google Drive": {
      "main": [
        [
          {
            "node": "Update Sheets Livré",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Livré": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheets Erreur": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": ["videogen", "production"],
  "triggerCount": 2,
  "updatedAt": "2026-02-26T00:00:00.000Z",
  "versionId": "1.0.0"
}
